<%= turbo_stream_from tweet %>

<!-- this tag with `tweet` instead of 'tweets' identifies an individual tweet -->
<%= turbo_frame_tag tweet do %>

<div class="card card-body">
  <div><%= tweet.body %></div>

  <div class="btn-toolbar mt-4" role="toolbar">

    <div class="btn-group mr-2" role="group">
  <div class="mt-2">
    <%= link_to "Like (#{tweet.likes})",
                tweet_like_path(tweet),
                method: :post,
                class: "btn btn-sm btn-outline-success" %>

      <%= link_to "Retweet (#{tweet.retweets})",
                tweet_retweet_path(tweet),
                method: :post,
                class: "btn btn-sm btn-outline-info" %>
    </div>

    <div class="btn-group mr-2" role="group">
      <%= link_to 'Edit', edit_tweet_path(tweet),
                class: "btn btn-sm btn-outline-primary" %>

    </div>

    <div class="btn-group mr-2" role="group">
      <%= link_to 'Destroy', tweet_path(tweet), method: :delete,
                data: { confirm: 'Are you sure?' },
                class: "btn btn-sm btn-outline-danger" %>
    </div>

  </div>
</div>
<% end %>
